<div class="container-fluid" style="background-color: #CED8F6;">
  <div class="row" style="background-color: #0B3861;">
    <div class="container">
      <center>
        <h1 style="color: #A9D0F5; font-size: 48px"><strong><em>Les Prénoms aux USA</em></strong></h1>
        <hr>
        <p style="color: #fefefe;">Quels sont les prénoms les plus répandus au USA ? Trouvez toutes les informations sur ce site ! Vous pouvez rechercher la popularité d'un prénom, les trier par ordre de popularité, et obtenir des informations en fonctions des années et des états.</p>
      </center>
    </div>    
    <div class="row">
      <div class="col-xs-7"></div>
      <div class="col-xs-4">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input type="text" class="form-control" ng-model="search" placeholder="Rechercher">
        </div>
      </div>
    </div>
    <br>
  </div>
  <br>
  <div class="col-sm-8">
    <div class="well well-sm" ng-repeat="comment in comments | filter:{name:search}">
      <h4 style="color: #5858FA; margin-left: 1em">
        <strong>{{name.name}}</strong>
      </h4>
      <p style="margin-left: 5em">{{name.count}}</p>
      <div class="pull-right">
        <p style="color: #A4A4A4">{{name.state}}</p>
      </div>
      <br>
      <div class="clearfix" ng-if="$index%2==1"></div>
    </div>
  </div>

</div>